pg_user: pg_user
pg_password: pg_password
db_name: db_name
pg_dump_dir: /path/to/pg_dump/directory
branch: git_branch
rbenv_version: 2.0.0-p195
ruby_version: 2.0.0p195
rbenv_root: /home/stld/.rbenv
app_root: /home/stld/apps/stld/current
rack_env: production
