upstream unicorn_server_{{stld_user}} {
        server unix:/tmp/{{ stld_user }}_unicorn.sock
                fail_timeout=0;
}

server {
        server_name {{ stld_hostname }};
        keepalive_timeout 5;

        location / {
                root {{app_root}}/current/public/app;
                try_files $uri $uri/ @app;
        }

        location @app {
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                proxy_set_header Host $http_host;
                proxy_redirect off;
                proxy_pass http://unicorn_server_{{stld_user}};
        }
}
